@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600;700&family=Volkhov:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background: url(/images/MacBook\ Pro\ -\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
p {
  color: rgba(71, 60, 58, 1);
  font-size: 15px;
}
.container {
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
}
.small-container {
  max-width: 1080px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 10px;
}
.logo {
  width: 195px;
  height: 56px;
  object-fit: cover;
}
.logo img {
  width: 100%;
  height: 100%;
  margin-top: 6px;
}
.nav-bar ul {
  display: inline-block;
  list-style-type: none;
}
.nav-bar ul li {
  display: inline-block;
  margin-right: 20px;
}
.nav-bar ul li a {
  text-decoration: none;
  color: rgba(254, 60, 94, 1);
  transition: 0.3s;
  font-weight: 400;
  size: 18px;
  position: relative;
}
.nav-bar ul li a::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background-color: rgba(254, 60, 94, 1);
  display: inline-block;
  bottom: 0;
  transition: 0.3s;
}
.nav-bar ul li a:hover::before {
  width: 100%;
}
.nav-bar ul li a:hover {
  color: #2b2b2b;
}
.active {
  color: #2b2b2b !important;
  font-weight: 500;
}
.btn-sign-up {
  background-color: #fe3c5e;
  border: none;
  outline: none;
  padding: 12px 25px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
}
/* nav bar end */
.banner {
  text-align: center;
  margin-top: 50px;
}
.banner-text {
  position: relative;
}
.banner-text h1 {
  font-size: 96px;
  font-weight: 900;
  line-height: 104px;
  color: rgba(45, 52, 54, 1);
}
.highlight {
  color: #fe3c5e;
}
.banner-img {
  max-width: 500px;
  margin: 20px auto;
}
.banner-img img {
  width: 100%;
}
.animate__animated.animate__pulse {
  --animate-duration: 5s;
  animation-iteration-count: infinite;
}
/* banner end */
.spacial-link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 50px;
  padding: 30px;
}
.single-link {
  display: flex;
  align-items: center;
}

.category-section {
  margin-top: 50px;
  margin-bottom: 50px;
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 60px;
  color: rgba(45, 52, 54, 1);
}
.title p {
  color: #473c3a;
  font-weight: 400px;
  font-size: 16px;
  padding: 10px 150px;
}
.category-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.single-category {
  text-align: center;
  background-color: rgba(255, 255, 255, 1.5);
  width: 320px;
  height: 450px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
}
.single-category:hover {
  background: 60px, 48px rgba(75, 69, 53, 0.11);
  transform: translateY(-5px);
}
.card-body {
  position: absolute;
  top: 50%;
  padding: 0px 20px;
}
.card-img img {
  margin-top: 70px;
}
.card-body p {
  padding: 8px 0;
}
.card-body h2 {
  font-size: 28px;
  color: rgba(45, 52, 54, 1);
  font-weight: 700;
}
.btn-card {
  padding: 10px 24px;
  border: none;
  background: #fe3c5e;
  color: white;
  border-radius: 8px;
  margin: 8px 0;
}
/* category section end */
#schedule {
  margin-top: 82px;
}
.class-schedule {
  margin-top: 90px;
}
.schedule-title {
  margin-bottom: 24px;
}
.schedule-title h2 {
  font-size: 40px;
  padding: 10px 0px;
  font-weight: 800;
}
.schedule-title p {
  padding-right: 12%;
}
.schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-gap: 50px;
}
.schedule-left {
  display: flex;
  flex-direction: column;
}
.schedule-left-single {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 14px 3px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
.schedule-right img {
  width: 100%;
}
.schedule-left-single img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.section-title {
  margin-bottom: 30px;
}
.section-title h2 {
  font-size: 40px;
  padding: 10px 0px;
}
.section-title p {
  padding-right: 10%;
}
/* schedule section end */
.feature-section {
  margin-top: 80px;
  margin-bottom: 10px;
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background: #fff;
  padding: 25px 0px;
  border-radius: 10px;
}
.single-feature {
  display: flex;
  align-items: center;
}
.single-feature img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
/* feature section end */
.certificate-section {
  margin-top: 90px;
}
.certificate-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.certificate-left {
  margin-top: 20px;
}
.certificate-left h2 {
  font-size: 40px;
  padding: 30px 0px;
}
.certificate-left p {
  margin-bottom: 30px;
}
.certificate-right img {
  width: 100%;
}
.btn {
  padding: 14px 34px;
  border: none;
  background: #fe3c5e;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
}
/* certificate section end */
.section-search {
  margin-top: 100px;
  margin-bottom: 100px;
}
.search-container {
  padding: 40px;
  background: #fff;
  box-shadow: 0px, 12.44px rgba(181, 3, 3, 0.02);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0px 50px;
}
.form-control {
  border: none;
  font-size: 14px;
  outline: none;
}
/* search section end */
.footer-section {
  margin-bottom: 100px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.footer-header p {
  padding-right: 20%;
}
.footer-right p {
  padding: 10px 0px;
  font-weight: bold;
}
.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.social h4 {
  margin-right: 20px;
  font-size: 20px;
}
.icons {
  margin-top: 8px;
}
.icon{
  background:none;
  border-radius: 50px;
  padding: 1px 1px;
  transition: .3s;
}
.icon:hover{
  background:#FFEAA7;
  transform: translateY(-3px);
}
.icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.information-container {
  margin-top: 20px;
}
.information-container h4 {
  margin-bottom: 10px;
  color: rgba(71, 60, 58, 1);
  font-weight: bold;
  text-transform: uppercase;
}
.single-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-information p{
  margin-bottom: 10px;
}
.form input{
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius:5px;
  background-color: #CCCCCC;
  color: #2b2b2b;
  outline: none;
}
.form textarea{
  border: none;
  background-color: #cccccc;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-group h4{
  margin-bottom: 10px;
  color: rgba(71, 60, 58, 1);
}

/* responsive */
@media only screen and (max-width: 768px) {
  .nav-bar ul,
  .btn-sign-up {
    display: none;
  }
  .banner {
    width: 100%;
  }
  .banner-text h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .spacial-link {
    display: grid;
    grid-template-columns: 1fr;
    background: none !important;
  }
  .single-link {
    margin: 10px;
  }
  .title h2 {
    line-height: 60px;
  }
  .title p {
    padding: 10px 0;
  }
  .schedule {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .category-container {
    grid-template-columns: 1fr;
  }
  .feature-container {
    grid-template-columns: 1fr;
  }
  .certificate-container {
    grid-template-columns: 1fr;
  }
}
